body {
  background-color: #f0e68c;
}

.table1 {
  border: 1px solid black;
}

td,
th {
  border: none;
  /* Remove default borders */
  box-shadow: inset 0px 0px 0px 1px black;
  /* Creates an inset black shadow for an inner border effect */
  padding: 5px;
  /* Optional padding to separate content from the inner border */
  width: 100px;
}

input {
  width: 90px;
}

.container {
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.input-box1 {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 3%;
  left: -1%;
}

.input-box2 {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 95%;
  left: 53%;
}

.given-value-01 {
  position: absolute;
  width: auto;
  top: 93%;
  left: 0%;
}

.given-value-10 {
  position: absolute;
  width: auto;
  top: 9%;
  left: 59%;
}



@media screen and (max-width: 768px) {

  /* Adjust styles for smaller screens */
  .container {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
  }

  .given-value-10 {
    position: absolute;
    width: auto;
    top: 8%;
    left: 87%;
  }

  .given-value-01 {
    position: absolute;
    width: auto;
    top: 92%;
    left: 9%;
  }

  .circle {
    position: absolute;
    /* Additional styles for smaller screens */
  }

  .input-box1 {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 5%;
    left: 7%;
    /* Additional styles for smaller screens */
  }

  .input-box2 {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 97%;
    left: 79%;
    /* Additional styles for smaller screens */
  }
}