body {
    background-color: #f0e68c;
    padding: 10 px;
    }

    .content {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    /* align-items: center; */
    }

    #network {
        width: 100%;
        height: 500px;
        /* border: 1px solid #ccc; */
    }

    .button-container {
      display: flex;
      gap: 10px; /* Space between buttons */
    }

    .button {
      padding: 10px 20px;
      border: none;
      border-radius: 20px; /* Rounded corners */
      background-color: rgb(160, 212, 255); /* Default button color */
      color: #000;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease; /* Smooth transition */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Elevated shadow */
    }
    .button:active {
      transform: translateY(2px); /* Simulates button press */
    }
    .button.depressed {
      background-color: #004976; /* Darker color when depressed */
      color: #ffffff;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* Inner shadow */
    }
    .button:disabled {
      cursor: not-allowed; /* Disable pointer events */
      color: #666666; /* Gray text when disabled */
    }