@import 
url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');

body {
  background-color: #f0e68c;
  padding: 10 px;
}

.content {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  /* align-items: center; */
}



.table1 {
  border: 1px solid black;
}

input {
  width: 90px;
}

.container {
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}

.btn3d.btn-blue {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #39B3D7;
}

.btn3d.btn-blue:active,
.btn3d.btn-blue.active {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #39B3D7;
}


.btn3d.btn-purple {
	box-shadow: 0 0 0 1px #ffa9a9 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #e18181, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #fa99da;
}

.btn3d.btn-purple:active,
.btn3d.btn-purple.active {
	box-shadow: 0 0 0 1px #ffa9a9 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #fa99da;
}

.btn3d.btn-green {
	box-shadow: 0 0 0 1px #71ff62 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #39d746, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #4fff6f;
}

.btn3d.btn-green:active,
.btn3d.btn-green.active {
	box-shadow: 0 0 0 1px #71ff62 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #4fff6f;
}

.btn3d.btn-grey {
	box-shadow: 0 0 0 1px #d3fafa inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #a1d1d3, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #d3fafa;
}

.btn3d.btn-grey:active,
.btn3d.btn-grey.active {
	box-shadow: 0 0 0 1px #d3fafa inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #d3fafa;
}

.status-box {
    width: 80px; 
    height: 50px;
    background-color: #f7f7f7; 
    border: 5px solid rgb(77, 73, 73); 
    margin-left: 20px;
    box-shadow: 4px 3px 4px #00000058;
    border-radius: 5px;
}

.window{
  text-align: center;
  break-inside: auto;
}

.window-table{
  border: none;
  /* Remove default borders */
  box-shadow: inset 0px 0px 0px 1px black;
  /* Creates an inset black shadow for an inner border effect */
  padding: 5px;
  /* Optional padding to separate content from the inner border */
  width: 100px;
}

/* .canvas-ele{
  height: 25;
  width: 350;
} */

.canvas-div{
  display: flex;
  justify-content: center;
  flex-direction: row; 
  overflow-y: hidden;
  height:300px;
  border-right: 14px;

  /* border-style: ; */

}

.canvas-div:hover{
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-right: 0;


}

.log-div{
  overflow-y: hidden; 
  height:150px; 
  background-color: rgb(160, 212, 255) !important;
  padding-right: 14px;
  
}

.log-div:hover{
  overflow-y: scroll;
  padding-right: 0;
  scrollbar-width: thin;
}

.p3-button-div{
  display: flex;
  justify-content: center;
}

.window-start{
  border-top: orangered;
  border-bottom: orangered;
  border-left: orangered;
  border-bottom-width: 4px;
  border-top-width: 4px;
  border-style:groove;
  border-left-width: 2px;
  /* padding: 5px; */
  
}

.window-end{
  border-top: orangered;
  border-bottom: orangered;
  border-right: orangered;
  border-bottom-width: 4px;
  border-top-width: 4px;
  border-style:groove;
  border-right-width: 2px;
  /* padding: 5px; */
}

.window-inside{
  border-top: orangered;
  border-bottom: orangered;
  border-style: groove;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 4px;
  border-top-width: 4px;
  /* padding: 5px; */
}

th{
  padding: 6px;
}

td{
  padding: 0;
}